@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,300&family=Roboto:wght@300;500;700;900&display=swap');

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bgcolor:teal;
  --fontColor:#383737; 
  --primaryColor:#aaa;
  --bestColor:#fbfbfb;
  --blackColor:#000;
  --grayColor:#333;
  --redColor:#f7564a;  
  --lighColor:#4af7c3;
}

html{
  font-size: 62.5%;
  /* font-family: "Poppins",sans-serif; */
  font-family: "Roboto",sans-serif;
  /* font-family: "Montserrat",sans-serif; */
}
body{
  background-color: var(--bestColor);
}

.card{
  border: 2px solid red;
  width: 250px;
  height: 250px;
  display: inline-block;  
}
.card:hover{
  transform: scale(1.05);
}
.card-image>img{
  width: 200px;
  height: 180px;
}

